In [1]:
import pandas as pd
df = pd.read_csv('Sales_data.csv')
df.head()

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
0,0,2022-01-03,1001,1,296,1,09:21:14,415945,AS Sandwich Weizen 750g,1.0,2022-01-03 09:21:14,1,0,9
1,1,2022-01-03,1001,1,296,2,09:21:14,428760,BR Alpensalz 500g,1.0,2022-01-03 09:21:14,1,0,9
2,2,2022-01-03,1001,1,296,3,09:21:14,413795,GL Gouda jung SHB oGt400g,1.0,2022-01-03 09:21:14,1,0,9
3,3,2022-01-03,1001,1,296,4,09:21:14,407194,Mondo Italiano Penne500g,1.0,2022-01-03 09:21:14,1,0,9
4,4,2022-01-03,1001,1,296,5,09:21:14,419727,"GL H-Milch 3,5% 1L VLOG",1.0,2022-01-03 09:21:14,1,0,9

In [2]:
df = df.drop_duplicates(subset=['Date','StoreNumber', 'CashRegisterNumber', 'ReceiptNumber', 'ArticleName'], keep='first')
display(df.head())
display(df.shape)

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
0,0,2022-01-03,1001,1,296,1,09:21:14,415945,AS Sandwich Weizen 750g,1.0,2022-01-03 09:21:14,1,0,9
1,1,2022-01-03,1001,1,296,2,09:21:14,428760,BR Alpensalz 500g,1.0,2022-01-03 09:21:14,1,0,9
2,2,2022-01-03,1001,1,296,3,09:21:14,413795,GL Gouda jung SHB oGt400g,1.0,2022-01-03 09:21:14,1,0,9
3,3,2022-01-03,1001,1,296,4,09:21:14,407194,Mondo Italiano Penne500g,1.0,2022-01-03 09:21:14,1,0,9
4,4,2022-01-03,1001,1,296,5,09:21:14,419727,"GL H-Milch 3,5% 1L VLOG",1.0,2022-01-03 09:21:14,1,0,9

(24570611, 14)

In [3]:
display(df[df.ArticleName.str.contains("Werkzeug")].head())
df[df.ArticleName.str.contains("Werkzeug")].shape

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
22496,23283,2022-01-03,1033,3,864,12,17:39:10,347548,Multi.Werkzeug Axt ST,1.0,2022-01-03 17:39:10,1,0,17
557999,576636,2022-01-10,1053,2,563,3,12:01:00,345315,Werkzeugkasten 399tlg. ST,1.0,2022-01-10 12:01:00,1,0,12
4516493,4660934,2022-02-23,1504,2,460,9,17:48:48,350186,Werkzeugkoffer ST,1.0,2022-02-23 17:48:48,2,2,17
5150103,5313680,2022-03-03,1028,2,215,5,10:40:42,345315,Werkzeugkasten 399tlg. ST,1.0,2022-03-03 10:40:42,3,3,10
5670488,5849702,2022-03-08,1504,2,507,1,12:25:11,350186,Werkzeugkoffer ST,1.0,2022-03-08 12:25:11,3,1,12

(149, 14)

In [4]:
df.loc[:,"ArticleName"][df.ArticleName.str.contains("Werkzeug")] = "Werkzeug"

In [5]:
list_ = []
for ind, row in df[df.ArticleName=='Werkzeug'].iterrows():
    list_.append([row.Date, row.StoreNumber, row.CashRegisterNumber, row.ReceiptNumber])

In [6]:
list_[0:5]

[['2022-01-03', 1033, 3, 864],
 ['2022-01-10', 1053, 2, 563],
 ['2022-02-23', 1504, 2, 460],
 ['2022-03-03', 1028, 2, 215],
 ['2022-03-08', 1504, 2, 507]]

In [7]:
trans = pd.DataFrame()
for list in list_:
    Date = list[0]
    StoreNumber = list[1]
    CashRegisterNumber = list[2]
    ReceiptNumber = list[3]
    result = df.query(f"Date=='{Date}' & StoreNumber=={StoreNumber} & CashRegisterNumber=={CashRegisterNumber} & ReceiptNumber=={ReceiptNumber}")
    trans = pd.concat([trans, result], ignore_index=True)
display(trans.head())

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
0,23272,2022-01-03,1033,3,864,1,17:39:10,82019403,"NaturalisMediumEW6x1,5LPK",1.0,2022-01-03 17:39:10,1,0,17
1,23273,2022-01-03,1033,3,864,2,17:39:10,999999998150,Pfandartikel (Tandem) - EW,1.0,2022-01-03 17:39:10,1,0,17
2,23276,2022-01-03,1033,3,864,5,17:39:10,4633,Pote Huehnertopf 800g,1.0,2022-01-03 17:39:10,1,0,17
3,23277,2022-01-03,1033,3,864,6,17:39:10,81403175,"NaturalisStillEW1x0,5LFL",1.0,2022-01-03 17:39:10,1,0,17
4,23279,2022-01-03,1033,3,864,8,17:39:10,403175,"NaturalisStillEW6x0,5L",1.0,2022-01-03 17:39:10,1,0,17

In [8]:
def set_group(x):
    if x['ArticleName'] in ['Pfandartikel (Tandem) - EW', 'Pfandartikel (Tandem) - MW']:
        return "Pfandartikel"
    if x['ArticleName'] in ['BO-Schnittbr.1ST', 'BO-Schnittbroetchen 1ST', 'BO-Kaiserbroetchen 1ST', 'BO-Kaiserbroetchen 65g']:
        return "Broetchen"
    if x['ArticleName'] in ['GL H-Milch1,5%1L VLOG', 'GL H-Milch 3,5% 1L VLOG']:
        return "Milch"
    else:
        return x['ArticleName']

trans['Group'] = trans.apply(set_group, axis=1)

In [9]:
trans.shape

(1263, 15)

In [10]:
trans.Group.value_counts()[0:10]

Werkzeug                     149
Pfandartikel                  70
Schlaufentragetasche ST        8
Broetchen                      7
Bananen Lose                   7
BO Bio Vitalbrot 500g          6
BO-Sonnenblumekernbr.80g       5
SZ Fein. Ruebenzucker 1kg      5
Zeitschriften 7%               5
NaturalisStillEW6x0,5L         4
Name: Group, dtype: int64

In [11]:
# drop articles with overwhelming quantity
trans.drop(trans[trans.Group == "Pfandartikel"].index, inplace=True)
trans.head()

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour,Group
0,23272,2022-01-03,1033,3,864,1,17:39:10,82019403,"NaturalisMediumEW6x1,5LPK",1.0,2022-01-03 17:39:10,1,0,17,"NaturalisMediumEW6x1,5LPK"
2,23276,2022-01-03,1033,3,864,5,17:39:10,4633,Pote Huehnertopf 800g,1.0,2022-01-03 17:39:10,1,0,17,Pote Huehnertopf 800g
3,23277,2022-01-03,1033,3,864,6,17:39:10,81403175,"NaturalisStillEW1x0,5LFL",1.0,2022-01-03 17:39:10,1,0,17,"NaturalisStillEW1x0,5LFL"
4,23279,2022-01-03,1033,3,864,8,17:39:10,403175,"NaturalisStillEW6x0,5L",1.0,2022-01-03 17:39:10,1,0,17,"NaturalisStillEW6x0,5L"
5,23283,2022-01-03,1033,3,864,12,17:39:10,347548,Werkzeug,1.0,2022-01-03 17:39:10,1,0,17,Werkzeug

In [12]:
# integrate the identical transactions
integrated = trans.groupby(['Date','StoreNumber', 'CashRegisterNumber', 'ReceiptNumber']).agg(Articles=('Group', lambda x:';'.join(x.unique()))).reset_index()
display(integrated.head())

# spilt the integrated transactions into several columns
split_ = integrated['Articles'].str.split(';', expand=True).dropna(how='all', axis=1)
display(split_.head())

for i in range(6):
    mini_article = split_[split_.iloc[:,i].notnull()]
    print(f"The minimum article is {i+1} and the frequency is {mini_article.shape[0]}" )

# filter transactions with at least 4 articles
split_ = split_[split_.iloc[:,2].notnull()]
display(split_.head())

# convert DataFrame to List
# delete the NoneType
res = []
def filter_list(_list):
    for item in _list:
        res.append([x for x in item if x is not None])
filter_list(split_.values.tolist())

transactions_from_df = [tuple(row) for row in res]
transactions_from_df[0:3]

# apriori algorithm
from efficient_apriori import apriori
itemsets, rules = apriori(transactions_from_df, min_support=0.05, min_confidence=0.5)
print("itemsets:",itemsets)
print("rules", rules)

,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,Articles
0,2022-01-03,1033,3,864,"NaturalisMediumEW6x1,5LPK;Pote Huehnertopf 800..."
1,2022-01-10,1053,2,563,GT Toast B/V sort. 250g;Goldst.Emment hauchd12...
2,2022-02-23,1504,2,460,Landl.SHB XXL sort. 235g;Sophie SlipEinl.Flex ...
3,2022-03-03,1028,2,215,Bio BB Frujo sort. 400g;Bio BB Haferdrink pur ...
4,2022-03-08,1504,2,507,Werkzeug;BO-Sonnenblumekernbr.80g;FalkenWZleic...

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,"NaturalisMediumEW6x1,5LPK",Pote Huehnertopf 800g,"NaturalisStillEW1x0,5LFL","NaturalisStillEW6x0,5L",Werkzeug,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,GT Toast B/V sort. 250g,Goldst.Emment hauchd125g,Werkzeug,BO Bio Vitalbrot 500g,Barill.Sauce sort.400g,Bio BB Haferdrink pur 1L,BGL Knusp.Frujo sort.150g,DS Schmand 24% 200g RF,GAZI Feta 150g,Gratinkaese +20% 180g,...,None,None,None,None,None,None,None,None,None,None
2,Landl.SHB XXL sort. 235g,Sophie SlipEinl.Flex 45ST,"Henderson Gin Tonic 0,33L",Werkzeug,BO-Sonnenblumekernbr.80g,BO-Brot ohne Mehl 500g,Haehn.br.Filet sort.150g,Birne Conference lose,Fav.Dekor Servi.sort.30ST,None,...,None,None,None,None,None,None,None,None,None,None
3,Bio BB Frujo sort. 400g,Bio BB Haferdrink pur 1L,"AlbiMild.O-SaftEW1,5L",Werkzeug,BO Bio Vitalbrot 500g,Bisco.Waffelnsort.260g,Bonrisi Milchreis 500g,MI Tortel.Rico.Spina.250g,M.I.Gran/Parm sort.ab125g,GL Harzer Kaese oGt 200g,...,None,None,None,None,None,None,None,None,None,None
4,Werkzeug,BO-Sonnenblumekernbr.80g,"FalkenWZleichtMW1x0,5LFL","Stard.Cola Light EW1,5L",SB Gutsmettwurst QS 125g,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

The minimum article is 1 and the frequency is 149
The minimum article is 2 and the frequency is 138
The minimum article is 3 and the frequency is 124
The minimum article is 4 and the frequency is 117
The minimum article is 5 and the frequency is 98
The minimum article is 6 and the frequency is 80

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,"NaturalisMediumEW6x1,5LPK",Pote Huehnertopf 800g,"NaturalisStillEW1x0,5LFL","NaturalisStillEW6x0,5L",Werkzeug,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,GT Toast B/V sort. 250g,Goldst.Emment hauchd125g,Werkzeug,BO Bio Vitalbrot 500g,Barill.Sauce sort.400g,Bio BB Haferdrink pur 1L,BGL Knusp.Frujo sort.150g,DS Schmand 24% 200g RF,GAZI Feta 150g,Gratinkaese +20% 180g,...,None,None,None,None,None,None,None,None,None,None
2,Landl.SHB XXL sort. 235g,Sophie SlipEinl.Flex 45ST,"Henderson Gin Tonic 0,33L",Werkzeug,BO-Sonnenblumekernbr.80g,BO-Brot ohne Mehl 500g,Haehn.br.Filet sort.150g,Birne Conference lose,Fav.Dekor Servi.sort.30ST,None,...,None,None,None,None,None,None,None,None,None,None
3,Bio BB Frujo sort. 400g,Bio BB Haferdrink pur 1L,"AlbiMild.O-SaftEW1,5L",Werkzeug,BO Bio Vitalbrot 500g,Bisco.Waffelnsort.260g,Bonrisi Milchreis 500g,MI Tortel.Rico.Spina.250g,M.I.Gran/Parm sort.ab125g,GL Harzer Kaese oGt 200g,...,None,None,None,None,None,None,None,None,None,None
4,Werkzeug,BO-Sonnenblumekernbr.80g,"FalkenWZleichtMW1x0,5LFL","Stard.Cola Light EW1,5L",SB Gutsmettwurst QS 125g,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

itemsets: {1: {('Werkzeug',): 124, ('Bananen Lose',): 7, ('Broetchen',): 7, ('Schlaufentragetasche ST',): 8}, 2: {('Bananen Lose', 'Werkzeug'): 7, ('Broetchen', 'Werkzeug'): 7, ('Schlaufentragetasche ST', 'Werkzeug'): 8}}
rules [{Bananen Lose} -> {Werkzeug}, {Broetchen} -> {Werkzeug}, {Schlaufentragetasche ST} -> {Werkzeug}]