In [1]:
import pandas as pd
df = pd.read_csv('Sales_data.csv')
df.head()

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
0,0,2022-01-03,1001,1,296,1,09:21:14,415945,AS Sandwich Weizen 750g,1.0,2022-01-03 09:21:14,1,0,9
1,1,2022-01-03,1001,1,296,2,09:21:14,428760,BR Alpensalz 500g,1.0,2022-01-03 09:21:14,1,0,9
2,2,2022-01-03,1001,1,296,3,09:21:14,413795,GL Gouda jung SHB oGt400g,1.0,2022-01-03 09:21:14,1,0,9
3,3,2022-01-03,1001,1,296,4,09:21:14,407194,Mondo Italiano Penne500g,1.0,2022-01-03 09:21:14,1,0,9
4,4,2022-01-03,1001,1,296,5,09:21:14,419727,"GL H-Milch 3,5% 1L VLOG",1.0,2022-01-03 09:21:14,1,0,9

In [2]:
df = df.drop_duplicates(subset=['Date','StoreNumber', 'CashRegisterNumber', 'ReceiptNumber', 'ArticleName'], keep='first')
display(df.head())
display(df.shape)

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
0,0,2022-01-03,1001,1,296,1,09:21:14,415945,AS Sandwich Weizen 750g,1.0,2022-01-03 09:21:14,1,0,9
1,1,2022-01-03,1001,1,296,2,09:21:14,428760,BR Alpensalz 500g,1.0,2022-01-03 09:21:14,1,0,9
2,2,2022-01-03,1001,1,296,3,09:21:14,413795,GL Gouda jung SHB oGt400g,1.0,2022-01-03 09:21:14,1,0,9
3,3,2022-01-03,1001,1,296,4,09:21:14,407194,Mondo Italiano Penne500g,1.0,2022-01-03 09:21:14,1,0,9
4,4,2022-01-03,1001,1,296,5,09:21:14,419727,"GL H-Milch 3,5% 1L VLOG",1.0,2022-01-03 09:21:14,1,0,9

(24570611, 14)

In [3]:
df.loc[:,"ArticleName"][df.ArticleName.str.contains("Windel")] = "Windel"

In [4]:
list_ = []
for ind, row in df[df.ArticleName=='Windel'].iterrows():
    list_.append([row.Date, row.StoreNumber, row.CashRegisterNumber, row.ReceiptNumber])

In [5]:
list_[0:5]

[['2022-01-04', 1303, 2, 933],
 ['2022-01-07', 1053, 2, 772],
 ['2022-01-10', 1417, 1, 145],
 ['2022-01-14', 1303, 1, 798],
 ['2022-01-15', 1033, 3, 421]]

In [6]:
trans = pd.DataFrame()
for list in list_:
    Date = list[0]
    StoreNumber = list[1]
    CashRegisterNumber = list[2]
    ReceiptNumber = list[3]
    result = df.query(f"Date=='{Date}' & StoreNumber=={StoreNumber} & CashRegisterNumber=={CashRegisterNumber} & ReceiptNumber=={ReceiptNumber}")
    trans = pd.concat([trans, result], ignore_index=True)
display(trans.head())

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour
0,150088,2022-01-04,1303,2,933,1,17:03:58,404805,VL Waldhonig 500g,1.0,2022-01-04 17:03:58,1,1,17
1,150089,2022-01-04,1303,2,933,2,17:03:58,435862,VL Eier BY FH H&H 6ST M-L,1.0,2022-01-04 17:03:58,1,1,17
2,150090,2022-01-04,1303,2,933,3,17:03:58,425603,Windel,1.0,2022-01-04 17:03:58,1,1,17
3,344645,2022-01-07,1053,2,772,1,18:55:24,425609,Windel,1.0,2022-01-07 18:55:24,1,4,18
4,618191,2022-01-10,1417,1,145,4,19:05:00,432378,"Goesser Radler EW0,5L",1.0,2022-01-10 19:05:00,1,0,19

In [7]:
def set_group(x):
    if x['ArticleName'] in ['Pfandartikel (Tandem) - EW', 'Pfandartikel (Tandem) - MW']:
        return "Pfandartikel"
    if x['ArticleName'] in ['BO-Schnittbr.1ST', 'BO-Schnittbroetchen 1ST', 'BO-Kaiserbroetchen 1ST', 'BO-Kaiserbroetchen 65g']:
        return "Broetchen"
    if x['ArticleName'] in ['GL H-Milch1,5%1L VLOG', 'GL H-Milch 3,5% 1L VLOG']:
        return "Milch"
    else:
        return x['ArticleName']

trans['Group'] = trans.apply(set_group, axis=1)

In [8]:
trans.shape

(9666, 15)

In [13]:
trans.Group.value_counts()[0:10]

Windel                       850
Broetchen                     80
Bananen Lose                  78
Gurken ST                     71
Milch                         61
Schlaufentragetasche ST       54
Zeitschriften 7%              36
VL Eier BH 10ST               34
BO-Laugenbreze 1ST            33
SZ Fein. Ruebenzucker 1kg     31
Name: Group, dtype: int64

In [14]:
# drop articles with overwhelming quantity
trans.drop(trans[trans.Group == "Pfandartikel"].index, inplace=True)
trans.head()

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour,Group
0,150088,2022-01-04,1303,2,933,1,17:03:58,404805,VL Waldhonig 500g,1.0,2022-01-04 17:03:58,1,1,17,VL Waldhonig 500g
1,150089,2022-01-04,1303,2,933,2,17:03:58,435862,VL Eier BY FH H&H 6ST M-L,1.0,2022-01-04 17:03:58,1,1,17,VL Eier BY FH H&H 6ST M-L
2,150090,2022-01-04,1303,2,933,3,17:03:58,425603,Windel,1.0,2022-01-04 17:03:58,1,1,17,Windel
3,344645,2022-01-07,1053,2,772,1,18:55:24,425609,Windel,1.0,2022-01-07 18:55:24,1,4,18,Windel
4,618191,2022-01-10,1417,1,145,4,19:05:00,432378,"Goesser Radler EW0,5L",1.0,2022-01-10 19:05:00,1,0,19,"Goesser Radler EW0,5L"

In [18]:
# integrate the identical transactions
integrated = trans.groupby(['Date','StoreNumber', 'CashRegisterNumber', 'ReceiptNumber']).agg(Articles=('Group', lambda x:';'.join(x.unique()))).reset_index()
display(integrated.head())

# spilt the integrated transactions into several columns
split_ = integrated['Articles'].str.split(';', expand=True).dropna(how='all', axis=1)
display(split_.head())

for i in range(6):
    mini_article = split_[split_.iloc[:,i].notnull()]
    print(f"The minimum article is {i+1} and the frequency is {mini_article.shape[0]}" )

# filter transactions with at least 4 articles
split_ = split_[split_.iloc[:,2].notnull()]
display(split_.head())

# convert DataFrame to List
# delete the NoneType
res = []
def filter_list(_list):
    for item in _list:
        res.append([x for x in item if x is not None])
filter_list(split_.values.tolist())

transactions_from_df = [tuple(row) for row in res]
transactions_from_df[0:3]

# apriori algorithm
from efficient_apriori import apriori
itemsets, rules = apriori(transactions_from_df, min_support=0.05, min_confidence=0.5)
print("itemsets:",itemsets)
print("rules", rules)

,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,Articles
0,2022-01-04,1303,2,933,VL Waldhonig 500g;VL Eier BY FH H&H 6ST M-L...
1,2022-01-07,1053,2,772,Windel
2,2022-01-10,1417,1,145,"Goesser Radler EW0,5L;MonsterUltraWhiteEW0,5L;..."
3,2022-01-14,1303,1,798,"Windel;GL Naturjogh. 3,5% 500g;SZ Fein. Rueben..."
4,2022-01-15,1033,3,421,SB Bio BB R-Hackfl. 400g;Windel;BO-Laugenbreze...

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,VL Waldhonig 500g,VL Eier BY FH H&H 6ST M-L,Windel,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Windel,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"Goesser Radler EW0,5L","MonsterUltraWhiteEW0,5L",Windel,"NaturalisMediumEW6x1,5LPK",M.Mag.A.Nood.o.S.sort.63g,Wa.Stein.Pizza Mozz. 350g,GL Backcamembert oGt 350g,"MonsterEnEWsort.0,5LDY",FS Saft Blutorange 1L,SB HM Putenbrust 100g QS,...,None,None,None,None,None,None,None,None,None,None
3,Windel,"GL Naturjogh. 3,5% 500g",SZ Fein. Ruebenzucker 1kg,VL Eier BH 10ST,Banane Chiquita Lose,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,SB Bio BB R-Hackfl. 400g,Windel,BO-Laugenbreze 1ST,MeinQ Fitnessq. sort.180g,Mangos ST,Nektarinen Gelbfl. Lose,Apfel Pink Lady Lose,Bio Ingwer Lose,Kiwi Gold ST,"Coca-Cola Zero EW 1,25L",...,None,None,None,None,None,None,None,None,None,None

The minimum article is 1 and the frequency is 847
The minimum article is 2 and the frequency is 810
The minimum article is 3 and the frequency is 760
The minimum article is 4 and the frequency is 683
The minimum article is 5 and the frequency is 623
The minimum article is 6 and the frequency is 559

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,VL Waldhonig 500g,VL Eier BY FH H&H 6ST M-L,Windel,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"Goesser Radler EW0,5L","MonsterUltraWhiteEW0,5L",Windel,"NaturalisMediumEW6x1,5LPK",M.Mag.A.Nood.o.S.sort.63g,Wa.Stein.Pizza Mozz. 350g,GL Backcamembert oGt 350g,"MonsterEnEWsort.0,5LDY",FS Saft Blutorange 1L,SB HM Putenbrust 100g QS,...,None,None,None,None,None,None,None,None,None,None
3,Windel,"GL Naturjogh. 3,5% 500g",SZ Fein. Ruebenzucker 1kg,VL Eier BH 10ST,Banane Chiquita Lose,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,SB Bio BB R-Hackfl. 400g,Windel,BO-Laugenbreze 1ST,MeinQ Fitnessq. sort.180g,Mangos ST,Nektarinen Gelbfl. Lose,Apfel Pink Lady Lose,Bio Ingwer Lose,Kiwi Gold ST,"Coca-Cola Zero EW 1,25L",...,None,None,None,None,None,None,None,None,None,None
5,GT Buttersandwich 750g,Diad.ZB Classic hart 2STB,Gewebeband farbig 6m,Gurken ST,PrivaMuellbtl.m.Gr.20x50L,PrivaMuellbtl.m.Gr.30x25L,Salat HaehnchenSenf 300g,HalloWelt Win.3 Midi 46ST,Windel,None,...,None,None,None,None,None,None,None,None,None,None

itemsets: {1: {('Windel',): 760, ('Gurken ST',): 71, ('Broetchen',): 75, ('Milch',): 58, ('Bananen Lose',): 78, ('Schlaufentragetasche ST',): 53}, 2: {('Bananen Lose', 'Windel'): 78, ('Broetchen', 'Windel'): 75, ('Gurken ST', 'Windel'): 71, ('Milch', 'Windel'): 58, ('Schlaufentragetasche ST', 'Windel'): 53}}
rules [{Bananen Lose} -> {Windel}, {Broetchen} -> {Windel}, {Gurken ST} -> {Windel}, {Milch} -> {Windel}, {Schlaufentragetasche ST} -> {Windel}]